<!-- START FOOTER -->
<section class="p-b-30 p-t-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="/assets/img/antiquarium.png" width="190" height="21" data-src-retina="/assets/img/antiquarium@2x.png"  class="logo inline m-r-50" alt="">
        <div class="m-t-10 ">
        </div>
      </div>
      <div class="col-sm-6 text-right font-arial sm-text-left">
        <p class="fs-11 muted">Copyright &copy; 2016 Provenire, LLC. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER -->
